<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>83505881861-sm3s7o67o4sim5tvmd96ocmg46snn6dq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.83505881861-sm3s7o67o4sim5tvmd96ocmg46snn6dq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>83505881861-0t64ak0nb2b0rmkao0hn0e7m1g9l9ilv.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDmv4WyU9Om_8LXtf6K-qVqdG-oAlfxsQA</string>
	<key>GCM_SENDER_ID</key>
	<string>83505881861</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.skilla.oils</string>
	<key>PROJECT_ID</key>
	<string>sana-oil-app</string>
	<key>STORAGE_BUCKET</key>
	<string>sana-oil-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:83505881861:ios:c722993b17e0fb8eeacd6c</string>
	<key>DATABASE_URL</key>
	<string>https://sana-oil-app.firebaseio.com</string>
</dict>
</plist>